div#main_heading {
	text-align: center;
	margin-top: 0;
}
div#main_heading h1 {
	font-family: 'Quicksand';
	font-size: 54px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div#main_heading h2 {
	font-family: 'Quicksand';
	font-size: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}



div#meal_content {
	width: 85%;
	margin: 0 auto;
	min-height: auto;
	height: auto;
	overflow: auto;
	padding: 2% 2% 2% 2%;
	background-color: rgba(56,56,56, 0.15);
	border: 2px solid black;
	border-radius: 8px;
}

div#meal_content > * {

}

table {
	width: 100%
}

td {
	width: 27%;
}

div#main_submission {
	height: 50px;
	text-align: center;
	margin-bottom: 0;
}
div#main_submission button {
	width: 100px;
}

.advanced {
	display: none;
}
