div#main_heading {
	text-align: center;
	margin-top: 0;
}

div#main_heading h1 {
	font-family: 'Quicksand';
	font-size: 54px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div#main_heading h2 {
	font-family: 'Quicksand';
	font-size: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div#meal_content {
	width: 85%;
	margin: 0 auto;
	min-height: auto;
	height: auto;
	overflow: auto;
	padding: 2% 2% 2% 2%;
	background-color: rgba(56,56,56, 0.15);
	border: 2px solid black;
	border-radius: 8px;
}

table {
	width: 100%
}

td {
	width: 25%;
}

td h3 {
	width: 90%;
}

td h4 {
	width: 90%;
}

td#food_type > select {
	width: 70%;
}

td#time_to_prepare > select {
	width: 70%;
}

td#allergies > div#new_allergies > input {
	width: 70%;
	margin-bottom: 5px;
}

td#allergies > div#select_allergies > select {
	width: 70%;
	margin-top: 5px;
}

td#ingredients > div#new_ingredients > input {
	width: 70%;
	margin-bottom: 5px;
}

td#ingredients > div#select_ingredients > select {
	width: 70%;
	margin-top: 5px;
}

td.advanced_options {
	display: none;
}

div#main_submission {
	height: 50px;
	text-align: center;
	margin-bottom: 0;
}

div#main_submission button {
	width: 100px;
}
